@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@1,300&display=swap');

html,
body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}::selection{
    background-color: #e74c3c;
}

a {
    text-decoration: none;
    color: rgba(34, 54, 69, .7);
    font-weight: 500;
}

a:hover {
    color: #e74c3c;
}

ul {
    list-style-type: none;

}

.navbar {
    background: #fff;
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 10vh;
    z-index: 100;
    text-shadow: 1px 1px #fff;
}

.navbar .navbar-brand a {
    padding: 1em 0;
    display: block;
    text-decoration: none;
}

.navbar-light .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #e74c3c;
}

.navbar-toggler {
    background: #e74c3c;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 4px solid #e74c3c;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    border-top: 4px solid #e74c3c;
    color: #e74c3c;
}

.navbar-nav button {
    padding: 1.2rem 0;
}

.navbar-nav .btn {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: -10px;
}

.navbar-nav .btn:hover {
    background-color: #0a3d62;
}


#footer {
    bottom: 0;
    width: 100%;
}

.main-container {
    /* padding-top: 12.5vh; */
    min-height: 80vh;
}

.category {
    margin-top: 20px;
    text-align: justify;
}

.font-weight-bold {
    font-weight: bold;
}

/* -----Slider----- */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 100px;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}

.slider-btn {
    margin-top: 30px;
}

.slider-btn btn {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}

.slider-btn .btn-2 {
    color: #111010;
    background-color: #fff;
}

/* about */

.abt-bg-image{
    background-image: url(../images/abt-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    height: 70vh;
    width: 100%;
}
.abt-article {
    margin-top: 10px;
    text-align: justify;
}
.social-links a{
    margin-left: 10px;
}

/* Product */

.product-list {
    margin-top: 20px;
    color: rgb(34, 54, 69);
}

.product-list button {
    color: #e74c3c;
}

#accordion>.card {
    margin-top: 20px;
}

.font-itallic {
    font-family: 'pacifico', cursive;
}

/* Contact */

.contact-header{
    background-image: url(../images/contact-bg-img.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 60vh;
    width: 100%;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(34, 54, 69, .7);
    z-index: 10;
}


.con-heading {
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    z-index: 100;
}

/* login */

.login-bg{
    background-image: url(../images/login-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.btn-primary {
    background-color: #e74c3c;
}

#pills-tab .nav-link {
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #e74c3c;
}